/* Resetando algumas configurações padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Estilo para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    font-size: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

/* Seção Home */
#home {
    padding: 2rem;
    text-align: center;
    background-color: #fff;
}

#home h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

#home p {
    font-size: 1.2rem;
    color: #555;
}

/* Seção de Produtos */
#produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    background-color: #e0e0e0;
}

#produtos h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
}

.produtos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.produto {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
    margin: 10px;
}

.produto img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.produto h3 {
    margin-top: 1rem;
    font-size: 1.6rem;
}

.produto p {
    font-size: 1.4rem;
    color: #888;
    margin: 0.5rem 0;
}

.produto button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.produto button:hover {
    background-color: #555;
}

/* Seção de Contato */
#contato {
    background-color: #fff;
    padding: 2rem;
    text-align: center;
}

#contato h2 {
    margin-bottom: 1rem;
}

#contato form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#contato form label {
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

#contato form input, 
#
